$main-background: rgb(250, 250, 250);
$instagram-gradient: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d) 1;
$story-border: rgb(255, 0, 0);
$visited-story-border: rgb(216, 216, 216);
$profile-color: rgb(38, 38, 38);
$profile-bio-color: rgb(142, 142, 142);
$section-border: rgb(219, 219, 219);
$main-btn-color: rgb(24, 119, 242);
$section-hover-bgc: rgb(250, 250, 250);
$section-select-bgc: rgb(239, 239, 239);
$store-bgc: rgb(26, 26, 26);
