@use "../abstracts/variables" as variables;
@use "../layout/breakpoints" as breakpoints;

.main-bgc{
    background-color: variables.$main-background;

}

.main-body{

    @include breakpoints.respond-to(sm){

        margin-bottom: 0;
        
    }

    padding-top: 3rem;
    padding-bottom: 5rem;
}

.home-container{
    max-width: 900px !important;
}

.activity-container{
    max-width: 600px !important;
}

.page-container{

    max-width: 970px !important;

}

