@use "font" as font;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: font.$font-family;
    direction: rtl;
}

a{
    text-decoration: none;
    color: inherit; 
}

a:hover{
    color: inherit;
}

*::after , *::before{
    box-sizing: inherit;
}

